.card{
  margin: auto, 0;
  margin-top: 1rem;
  transition-duration: 800ms;
  &:hover{
    border: 0.5px solid #FFB224;
  }
}

.card-title{
  color: hsl(0%, 0%, 6%);
}

.title-and-kind{
  line-height: 5px;
  margin-bottom: 5px;
}

.bike-description{
  color: hsl(0%, 0%, 29%);
  overflow: hidden;
  text-overflow: Ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 20px;
  max-height: 96px;
  -webkit-line-clamp: 3
}

.price-card{
  font-size: 20px;
}

#map{
  height: 100vh;
  top: 0;
  position: sticky;
  p{
    display: flex;
    justify-content: center;
  }
}
.my-form {
  margin-top: 1rem;
  white-space: nowrap;
}
.my-form-button {
  position: relative;
  top: -1px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 12px;
}
.my-form-input {
  position: relative;
  display: inline-block;
  border-style: none;
  width: 100%;
  padding: 25px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
