.card{
  margin: auto, 0;
  margin-top: 1rem;
  &:hover{
    border: 0.5px solid #FFB224;
  }
}

.card-title{
  color: hsl(0%, 0%, 6%);
}

.bike-description{
  color: hsl(0%, 0%, 29%);
  overflow: hidden;
  text-overflow: Ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 20px;
  max-height: 96px;
  -webkit-line-clamp: 3
}

.price-card{
  font-size: 20px;
}

#map{
  height: 100vh;
  top: 0;
  position: sticky;
  p{
    display: flex;
    justify-content: center;
  }
}
