// Specific CSS for your home-page
.geo-form {
  width: 100vw;
  height: 100%;
  background: linear-gradient(rgb(255, 255, 255), rgb(189, 214, 161));
  opacity: 0.2;
  position: absolute;
  top: 0;
  z-index: -1;
}

.navbar-brand{
  h1{
    font-family: 'Comfortaa', cursive;
    color: #b1da86;
    font-size: 120px;
  }
}

.my-lottie-logo{
  top: 10px;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

.searching-form {
  .btn{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 18px;
  }
}

.my-form-input-kind{
  width: 390px;
  padding: 30px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

}

.my-form-input-address{
  width: 302px;
  padding: 30px;
}


.arrow-down{
  height: 150px;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#map{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
