.form-bike{
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.edit-icon{
  color: #1b84da;
  &:hover{
    color: #0054a3;
  }
}

.delete-icon{
  color: rgb(223, 50, 50);
  &:hover{
    color: rgb(202, 5, 5);
  }
}
