.container_signup {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1590457568652-e707fbf791ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80');
  background-position: bottom;
  width: 100%;
  height:85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup {
  border-radius: 8px;
}
