<div class="w-100 content d-flex">
  <div class="col-md-7 content-left d-flex justify-content-center">
    <div class="bike_card shadow">
      <div class="thumbnail_bike">
        PHOTO
      </div>
      <div class="details_bike">

      </div>
    </div>
  </div>
  <div class="col-md-5 content-right">
      MAP HERE !!
  </div>
</div>
