.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50x;
  padding: 0px 70px;
  color: rgba(0,0,0,0.3);
  bottom: 0;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  &:hover {
    opacity: 1;
  }
}

.footer-copyright a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  &:hover {
    opacity: 1;
  }
}
