.navbar-lewagon {
  justify-content: space-between;
  background: rgb(255, 255, 255);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand{
  display: flex;
  align-items: center;

  h1{
    margin-left: 15px;
  }
}
