.navbar-lewagon {
  justify-content: space-between;
  background: rgb(255, 255, 255);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand{
  display: flex;
  align-items: center;

  h1{
    font-family: 'Comfortaa', cursive;
    color: #b1da86;
    position: relative;
    top: 35px;
    margin-left: 15px;
  }
}

.my-lottie-logo {
  position: relative;
  top: -52px;
}

.avatar {
  padding: 1px;
  border: solid rgb(160, 160, 160) 1px;
  &:hover {
    cursor: pointer;
    padding: 0px;
    border: solid rgb(160, 160, 160) 2px;
  }
}
