.navbar-lewagon {
  display: flex;
  position: sticky;
  top: 0px;
  justify-content: end;
  background-color: transparent;
  transition: 0.5s background-color ease;
  width: 100vw;
  height: 95px;
}

.navbar{
  padding: 21px 30px 5px 30px;
}

.navbar-lewagon-white {
  background-color: white;
  z-index: 10;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.avatar {
  padding: 1px;
  border: solid rgb(160, 160, 160) 1px;
  &:hover {
    cursor: pointer;
    padding: 0px;
    border: solid rgb(160, 160, 160) 2px;
  }
}

.navbar-lewagon-pages {
  background-color: #F4F4F4;
  width: 100vw;
  height: 45px;
  a {
    text-decoration: none;
    color: #80817F;
  }
}
